.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;


  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(file:///Users/diz/repos/nophoroneus.github.io/images/bg.jpeg);
}

.site-content {
  flex: 1;
}

.footer {
	color: white;
}